#btnJouer {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: green;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
#score {
  font-size: 20px;
  font-weight: bold;
  color: green;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}